.menu-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 40px;
	height: 40px;
}

.menu-icon__line-1,
.menu-icon__line-2,
.menu-icon__line-3 {
	position: absolute;
	height: 3px;
	width: 30px;
	background-color: var(--chakra-colors-chakra-body-text);
	border-radius: 1rem;
}

.menu-icon__line-1 {
	top: calc(25% - 1.5px);
}

.menu-icon__line-2 {
	bottom: calc(25% - 1.5px);
}

.menu-icon__line-2 {
	opacity: 1;
}

.onOpenLine1 {
	animation: onOpenLine1 250ms cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal
		forwards;
}

.onOpenLine2 {
	animation: onOpenLine2 250ms cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal
		forwards;
}

.onOpenLine3 {
	animation: onOpenLine3 250ms cubic-bezier(0.34, 1.56, 0.64, 1) 0s 1 normal
		forwards;
}

.onCloseLine1 {
	animation: onCloseLine1 350ms cubic-bezier(0.34, 1.56, 0.64, 1) 0s 1 normal
		forwards;
}

.onCloseLine2 {
	animation: onCloseLine2 350ms cubic-bezier(0.34, 1.56, 0.64, 1) 0s 1 normal
		forwards;
}

.onCloseLine3 {
	animation: onCloseLine3 250ms cubic-bezier(0.34, 1.56, 0.64, 1) 0s 1 normal
		forwards;
}

@keyframes onOpenLine1 {
	from {
		transform: rotate(0deg);
		top: calc(25% - 1.5px);
	}
	to {
		transform: rotate(45deg);
		top: calc(50% - 1.5px);
	}
}

@keyframes onOpenLine2 {
	from {
		transform: rotate(0deg);
		bottom: calc(25% - 1.5px);
	}
	to {
		transform: rotate(-45deg);
		bottom: calc(50% - 1.5px);
	}
}

@keyframes onOpenLine3 {
	from {
		transform: scaleX(1);
		opacity: 1;
	}
	to {
		transform: scaleX(0);
		opacity: 0;
	}
}

@keyframes onCloseLine1 {
	from {
		transform: rotate(45deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes onCloseLine2 {
	from {
		transform: rotate(-45deg);
		bottom: calc(50% - 1.5px);
	}
	to {
		transform: rotate(0deg);
		bottom: calc(25% - 1.5px);
	}
}

@keyframes onCloseLine3 {
	from {
		transform: rotate(15deg) scaleX(0);
		opacity: 0;
	}
	to {
		transform: rotate(0deg) scaleX(1);
		opacity: 1;
	}
}
