.menu-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 40px;
	height: 40px;
}

.menu-icon__line-1,
.menu-icon__line-2 {
	position: absolute;
	height: 4px;
	width: 30px;
	background-color: var(--chakra-colors-chakra-body-text);
	border-radius: 0.5rem;
}

.menu-icon__line-1 {
	transform: rotate(45deg);
}

.menu-icon__line-2 {
	transform: rotate(-45deg);
}

.onOpenLine1 {
	animation: onOpenLine1 250ms cubic-bezier(0.34, 1.56, 0.64, 1) 0s 1 normal
		forwards;
}

.onOpenLine2 {
	animation: onOpenLine2 250ms cubic-bezier(0.34, 1.56, 0.64, 1) 0s 1 normal
		forwards;
}

.onCloseLine1 {
	animation: onCloseLine1 250ms cubic-bezier(0.34, 1.56, 0.64, 1) 0s 1 normal
		forwards;
}

.onCloseLine2 {
	animation: onCloseLine2 250ms cubic-bezier(0.34, 1.56, 0.64, 1) 0s 1 normal
		forwards;
}

@keyframes onOpenLine1 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(45deg);
	}
}

@keyframes onOpenLine2 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-45deg);
	}
}

@keyframes onCloseLine1 {
	from {
		transform: rotate(45deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes onCloseLine2 {
	from {
		transform: rotate(-45deg);
	}
	to {
		transform: rotate(0deg);
	}
}
